* {
    padding: 0px;
    margin: 0px;
}

h1, h2, li, p {
    font-family: helvetica, arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}

h1, h2 {
    font-weight: 700;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

h1 {
    background: #307030;
    color: #FFFFFF;
}

body > ul, body > ol {
    margin-left: 120px;
}
ul ul {
    margin-left: 20px;
}

div.figure {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    padding: 24px;
}

div.figure img {
    width: 100%;
    max-width: 929px;
}

p.reference {
    text-indent: -36px;
    margin-left: 36px;
}

.map .journey p {
    border: 12px solid #FFFFFF00;
    margin: 2px;
    outline: 2px solid black;
    padding: 0;
    position: relative; /*Important for the absolute position of arrows.*/
    text-align: center;
}

.map .journey p:not(.emotion) {
    margin-bottom: 100px;
}

.map .journey p:not(.emotion)::after {
    content: "➔";
    display: block;
    font-size: 90px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 18px);
    writing-mode: vertical-rl;
}


.map .journey {
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    justify-content: space-between;
}

.map {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    overflow: auto;
}
